<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <img src='../static/images/Dhruvi.jpg' width="150" height="150"></center>
    </head>
    <body>
        <div class="container">
                <h1>hellooooo</h1>
            <table class="table table-bordered">
                            <tr>
                                <th>Dhruvi Vyas</th>
                                <th>1001516591</th>

                            </tr>
                 </table>

    <form action="/search" method="get">

    Enter k<input type="text" name="k" maxlength="200" width="60">
        <input type="submit" value="search">
</form>

  <form action="/insert" method="get">


        <input type="submit" value="insert">
</form>
<form action="/select" method="get">

    Enter Cabin Number<input type="text" name="cabin" maxlength="200" width="60">
        <input type="submit" value="select">
</form>







    </body>
</html>