<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <img src='../static/images/Dhruvi.jpg' width="150" height="150"></center>
    </head>
    <body>
        <div class="container">
                <h1>hellooooo</h1>
            <table class="table table-bordered">
                            <tr>
                                <th>Dhruvi Vyas</th>
                                <th>1001516591</th>

                            </tr>
                 </table>

    <form action="/search" method="get">

    Enter k<input type="text" name="k" maxlength="200" width="60">
        <input type="submit" value="search">
</form>


{#  for i in range(len(X)):#}
{#        print(i)#}
{#        print(X[i], labels[i])#}

                {% for ar2 in c2 %}
        <p>{{ ar2[0] }}</p>
        {% endfor %}
<table style="width:100%" border=1>
        <tr>
          <th>Fare</th>
          <th>Age</th>
          <th>Cluster No.</th>

        </tr>
        {% for ar in ci %}
        <tr>
          <td>{{ ar [0] }}</td>
          <td> {{ ar[1] }} </td>
          <td> {{ ar[2] }} </td>

        </tr>
       {% endfor %}


      </table>



    </body>
</html>